ejercicio_xml_CARMEN_RENDON/EJERCICIO3/pieza.dtd

<!ELEMENT motores (piezas,tipomotor)*>
<!ELEMENT piezas (pieza)*>
<!ELEMENT pieza (#PCDATA)>
<!ELEMENT tipomotor (seccion,empleados)>
<!ATTLIST tipomotor nombre CDATA #REQUIRED>
<!ELEMENT empleados (#PCDATA)>
<!ATTLIST empleados familiar (si|no) "no">
<!ATTLIST empleados responsable CDATA #REQUIRED>
<!ELEMENT seccion (#PCDATA)>